*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Android Specific
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
app/build/

# Keystore files (Never commit these!)
*.jks
*.keystore
key.properties

# Google Services (if used later)
google-services.json

# IDE and OS files
.idea/
Thumbs.db
